################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DecoratorPatternDemo/.vs/DecoratorPatternDemo
/DecoratorPatternDemo/DecoratorPatternDemo/bin/Debug/net7.0
/DecoratorPatternDemo/DecoratorPatternDemo/obj
